@import "bootstrap/dist/css/bootstrap";

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.https {
  background-color: rgb(30, 28, 28);
  color: aliceblue;
  text-align: center;
  align-items: center;
  display: flex;
  padding-inline: 0.625rem;
}
.field {
  padding: 3.125rem;
  border: 0.0625rem solid black;
  max-width: 37.5rem;
  margin: 0 auto;
}
.results {
  text-align: start;
  font-size: 1.625rem;
}
