@import "bootstrap/dist/css/bootstrap";
body {
  background-color: rgb(43, 42, 42);
  color: aliceblue;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.https {
  background-color: rgb(30, 28, 28);
  color: aliceblue;
  text-align: center;
  align-items: center;
  display: flex;
  padding-inline: 0.625rem;
}

.list {
  display: flex;
  gap: 0.625rem;
  align-items: baseline;
}

.field {
  margin: 0 auto;
}

.results {
  background-color: aliceblue;
  padding: 0.5rem;
  border: 0.625rem solid black;
  max-width: 70%;
  height: 25rem;
  overflow-y: auto;
  overflow-x: auto;
  text-align: start;
  margin: 0 auto;
}

.text {
  font-size: 1rem;
  color: black;
}

.item:hover {
  text-decoration: underline;
}
