.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px 0;
  background-color: black;
  opacity: 0.3;
}
.header p {
  text-align: center;
  color: aliceblue;
  font-size: 24px;
}
.header__container {
}
.main {
  margin: 200px 0;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__container {
  position: relative;
  overflow: hidden;
  margin: 0 15px;
}
.slider__block {
  display: flex;
  width: 600px;
  height: 400px;
  transition: all 0.6s;
}

.image {
  width: 100%;
  object-fit: cover;
}
.prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.next {
  position: absolute;
  top: 50%;
  right: 0;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
