html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

main {
  flex: 1;
}
